<section>
	<div class="container px-5 py-24 mx-auto">
		<div class="flex flex-wrap w-full mb-20">
			<div class="lg:w-1/2 w-full mb-6 lg:mb-0">
				<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">Thoughtful Reading Experience</h2>
				<div class="h-1 w-20 bg-pink-500 rounded"></div>
			</div>
			<div class="lg:w-1/2 w-full leading-relaxed">
				<p>Who said books don't need to look good?</p>
				<p>Forget boring black and white, odd fonts styles and scientific-like book formatting.</p>
				<p class="mt-4">
					I've spent a considerable time in making this book elegant, colorful and well-formatted to provide you, the
					reader, the most special experience possible so you can focus on the content.
				</p>
			</div>
		</div>
		<div class="grid grid-cols-4 gap-4">
			<div class="">
				<div
					class="bg-white border-gray-200 dark:bg-gray-800 p-6 xl:p-8 rounded h-full justify-between border dark:border-0 shadow dark:border-gray-600"
				>
					<div class="flex flex-1 flex-col h-full">
						<div class="mb-6">
							<h3 class="mb-2 text-xl font-bold text-pink-500 dark:text-pink-500">Color Palette</h3>
							<p>
								Everything from the book's cover design to notes, code blocks, typography styles and notes has been
								designed a color palette that is unique and specially crafted for this book.
							</p>
						</div>
						<div class="align-bottom mt-auto">
							<div class="h-10 w-auto bg-[#ffe3e8]"></div>
							<div class="h-10 w-auto bg-[#ffa2b3]"></div>
							<div class="h-10 w-auto bg-[#fe6e8b]"></div>
							<div class="h-10 w-auto bg-[#8a113d]"></div>

							<!-- <div class="h-10 w-auto bg-pink-500"></div>
							<div class="h-10 w-auto bg-pink-800"></div>
							<div class="h-10 w-auto bg-pink-900"></div> -->
						</div>
					</div>
				</div>
			</div>

			<div class="col-span-2">
				<div
					class="bg-white border-gray-200 dark:bg-gray-800 p-6 xl:p-8 rounded h-full justify-between border dark:border-0 shadow dark:border-gray-600"
				>
					<div class="flex flex-1 flex-col h-full justify-between">
						<div class="mb-6">
							<h3 class="mb-2 text-xl font-bold text-pink-500 dark:text-pink-500">Code styles</h3>
							<p>You are going to read a lot of code.</p>
							<p>More accurately put, you are going to read a lot of vulnerable code.</p>
							<p class="mt-4">
								To make the source code review process as fluent as possible, code blocks are styled with the <code
									class="text-pink-500 bg-slate-900 m-1 p-1 rounded">rogue</code
								>
								source highlighter using the <code class="text-pink-500 bg-slate-900 m-1 p-1 rounded"
									>base16.monokai.dark</code
								>
								theme, to provide a good color contrast.
							</p>
						</div>
						<div class="align-bottom mt-auto">
							<img
								class="rounded object-cover object-center"
								src="/images/book/nodejs-secure-coding-book-features-2-sided.jpg"
								alt="content"
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="">
				<div
					class="bg-white border-gray-200 dark:bg-gray-800 p-6 xl:p-8 rounded h-full justify-between border dark:border-0 shadow dark:border-gray-600"
				>
					<div class="flex flex-1 flex-col h-full justify-between">
						<div class="mb-6">
							<h3 class="mb-2 text-xl font-bold text-pink-500 dark:text-pink-500">Intro and Learnings</h3>
							<p>
								Chapters start with a short introduction to the topic, citing key areas of new knowledge gained, and end
								with a summary and lessons learned.
							</p>
						</div>
						<div class="align-bottom mt-auto">
							<img
								class="rounded"
								src="/images/book/nodejs-secure-coding-book-features-chapter-intro.png"
								alt="content"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
