<section class="bg-white dark:bg-gray-900">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold">Get started with <br />Node.js Secure Coding</h2>
			<p>Available book editions</p>
			<!-- <p class="mb-5 sm:text-xl">
				Start hacking right away with the Ivory Rose edition, or go full-on geek mode with the Starlit Rose edition.
			</p> -->
		</div>
		<div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0">
			<!-- Pricing Card -->
			<div
				class="flex flex-col p-6 mx-auto w-11/12 text-center bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800"
			>
				<h3 class="mb-4 text-2xl font-semibold">
					<code class="text-pink-500 bg-slate-100 m-1 p-2 rounded">Ivory Rose</code>
				</h3>
				<p class="font-light text-gray-500 text-md dark:text-gray-400">Elegant white background book copy</p>
				<!-- List -->
				<div class="mt-6 mb-8 space-y-4 text-left">
					<ul role="list">
						<li class="flex items-center space-x-3 mb-4">
							<!-- Icon -->
							<svg
								class="flex-shrink-0 w-5 h-5 text-pink-500 dark:text-pink-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
									clip-rule="evenodd"></path>
							</svg>
							<span>Introduction to AppSec glossary</span>
						</li>
						<li class="flex items-center space-x-3 mb-4">
							<!-- Icon -->
							<svg
								class="flex-shrink-0 w-5 h-5 text-pink-500 dark:text-pink-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
									clip-rule="evenodd"></path>
							</svg>
							<span>6 Chapters reviewing CVE reports of vulnerable npm packages</span>
						</li>
						<li class="flex items-center space-x-3 mb-4">
							<!-- Icon -->
							<svg
								class="flex-shrink-0 w-5 h-5 text-pink-500 dark:text-pink-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
									clip-rule="evenodd"></path>
							</svg>
							<span>Secure coding conventions learnings</span>
						</li>
					</ul>
				</div>
				<div class="mt-auto flex justify-center items-baseline mb-4">
					<span class="mr-2 text-2xl font-extrabold">$57.60</span>
					<span class="text-gray-500 dark:text-gray-400"></span>
				</div>
				<a
					href="https://nodejs-secure-coding.lemonsqueezy.com/checkout?cart=c9c1a171-280e-42c4-bc67-d61673387d89"
					class="mt-auto btn text-white border border-pink-500 bg-pink-500 hover:bg-pink-700 hover:border-pink-700 sm:mb-0 w-full"
					>Start hacking</a
				>
			</div>
			<!-- Pricing Card -->
			<div
				class="flex flex-col p-6 mx-auto w-11/12 text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white"
			>
				<h3 class="mb-4 text-2xl font-semibold">
					<code class="text-pink-500 bg-slate-900 m-1 p-2 rounded">Starlit Rose</code>
				</h3>
				<p class="font-light text-gray-500 text-md dark:text-gray-400">Fancy dark background book copy</p>
				<!-- List -->
				<div class="mt-6 mb-8 space-y-4 text-left">
					<ul role="list">
						<li class="flex items-center space-x-3 mb-4">
							<!-- Icon -->
							<svg
								class="flex-shrink-0 w-5 h-5 text-pink-500 dark:text-pink-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
									clip-rule="evenodd"></path>
							</svg>
							<span
								>All <code class="text-sm text-pink-500 bg-slate-100 m-0.5 p-0.5 rounded">Ivory Rose</code> features</span
							>
						</li>
						<li class="flex items-center space-x-3 mb-4">
							<!-- Icon -->
							<svg
								class="flex-shrink-0 w-5 h-5 text-pink-500 dark:text-pink-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
									clip-rule="evenodd"></path>
							</svg>
							<span>Dark background</span>
						</li>
						<li class="flex items-center space-x-3 mb-4">
							<!-- Icon -->
							<svg
								class="flex-shrink-0 w-5 h-5 text-pink-500 dark:text-pink-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
									clip-rule="evenodd"></path>
							</svg>
							<span>Personal dedication signed by the author</span>
						</li>
					</ul>
				</div>
				<div class="mt-8 flex justify-center items-baseline mb-6">
					<span class="mr-2 text-2xl font-extrabold">$65.20</span>
					<span class="text-gray-500 dark:text-gray-400"></span>
				</div>
				<button
					disabled
					class="mt-auto btn text-white border border-pink-600 bg-pink-800 hover:bg-pink-900 hover:border-pink-700 sm:mb-0 w-full"
					>coming soon!</button
				>
			</div>
		</div>
	</div>
</section>
