---
// import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/BooksLayout.astro';

import Hero from '~/components/widgets/BooksHero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ProfileHero from '~/components/widgets/ProfileHero.astro';

const meta = {
	title: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
	description: `Don't settle for generic security guides, experience them. Learn secure coding conventions in Node.js by executing command injection attacks on real-world NPM packages and analyzing vulnerable code.`,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<!-- <ProfileHero />
	<Features />
	<HighlightedPosts /> -->

	<Hero
		title="Node.js Secure Coding:"
		subtitle="Defending Against Command Injection Vulnerabilities"
		CTA2={{
			text: 'Defend Your Code',
			href: 'https://nodejs-secure-coding.lemonsqueezy.com/checkout?cart=e2206cc8-4d6d-406b-8e54-c70b26dc6292&coupon=LAUNCHYAY25OFF',
			priceOld: '$57.60',
			priceNew: '$43.20',
		}}
		SKIP_CTA1={{ text: 'Learn more', href: '#features' }}
		SKIP_CTA3={{ text: 'Learn more', href: '#features' }}
		image={{
			src: import('~/assets/images/command-injection-book-cover-light.png'),
			alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
		}}
	>
		<Fragment slot="description">
			<span class="hidden sm:inline">
				Don't settle for generic security guides, experience them.
				<br /><br />Learn secure coding conventions in Node.js by executing command injection attacks on real-world NPM
				packages and analyzing vulnerable code.
			</span>
		</Fragment>
	</Hero>

	<!-- <Steps />

	<Features3 />
	<FAQs />
	<Stats />
	<CallToAction /> -->
</Layout>
