---
// import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
// import Layout from '~/layouts/BooksLayout.astro';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/BooksHero.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import BookFeatures from '~/components/widgets/BookFeatures.astro';
import Features from '~/components/widgets/Features.astro';
import BookAuthor from '~/components/widgets/BookAuthor.astro';
import Steps from '~/components/widgets/Steps.astro';
import ScaleUpSecurity from '~/components/widgets/ScaleUpSecurity.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQ from '~/components/widgets/FAQ.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ProfileHero from '~/components/widgets/ProfileHero.astro';

const meta = {
	title: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
	description: `Don't settle for generic security guides, experience them. Learn secure coding conventions in Node.js by executing command injection attacks on real-world NPM packages and analyzing vulnerable code.`,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<!-- <ProfileHero />
	<Features />
	<HighlightedPosts /> -->

	<Hero
		title="Node.js Secure Coding:"
		subtitle="Defending Against Command Injection Vulnerabilities"
		CTA2={{
			text: 'More on this Node.js Secure Coding book',
			href: 'https://nodejs-security.com',
			priceOld: '',
			priceNew: '',
		}}
		SKIP_CTA1={{ text: 'Learn more', href: '#features' }}
		CTA3={{
			text: 'Buy now',
			href: 'https://nodejs-secure-coding.lemonsqueezy.com/checkout?cart=8b2ef211-87a5-41e8-bd74-33a33290728d',
		}}
		image={{
			src: import('~/assets/images/nodejs-secure-coding-book-3d-style.png'),
			alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
		}}
	>
		<Fragment slot="description">
			<span class="hidden sm:inline">
				Master secure coding in Node.js with real-world examples.
				<br />
				<br />
				execute command injection attacks, analyze vulnerable code, and build practical skills.
			</span>
		</Fragment>
	</Hero>

	<!-- <ScaleUpSecurity /> -->

	<!-- <BookFeatures /> -->

	<!-- <Pricing /> -->

	<!-- <Steps /> -->

	<!-- <Features /> -->
	<!-- <BookAuthor /> -->
	<!-- <Features3 /> -->

	<!-- <FAQ /> -->
	<!-- <Stats /> -->
	<!-- <CallToAction /> -->
</Layout>
